<% content_for :title, 'Patterns | Stock2.Watch' %>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name,</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @patterns.each do |pattern| %>
      <tr>
        <td><%= pattern.name %></td>
        <td><%= pattern.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>