@import "bootstrap";

body, input, select, textarea {
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.BUY {
  color:#7f8da9;
}
.SELL {
  color:indianred;
}
.BUY_SELL {
  color:#7f8da9;
}

@media (min-width: 768px) {
  .container {
    width: 500px;
  }
  .header-wrapper {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 700px;
  }
  .header-wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
  .header-wrapper {
    width: 900px;
  }
}
.container {
  padding-bottom: 50px;
}
.page-header {
  margin:40px 0 0px;
}

.page-header small {
  font-size: 18px;
}

.header-link {
  font-size: 22px;
}

.header-link:hover {
  color:#000000;
  background-color: transparent;
}

.header-table > tbody > tr > td {
  border-top: 0px;
}

.header-table {
  margin-bottom: 0px;
  position: fixed;
  top:0px;
  height: 43px;
  border-bottom: 1px solid #1c5380;
  border-bottom-color: rgba(4, 40, 71, 0.8);
  box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #517fa4;
  background-image: url("noise-1.png"), -webkit-gradient(linear, left top, left bottom, from(#517fa4), to(#306088));
  background-image: url("noise-1.png"), -webkit-linear-gradient(top, #517fa4, #306088);
  background-image: url("noise-1.png"), -moz-linear-gradient(top, #517fa4, #306088);
  background-image: url("noise-1.png"), -o-linear-gradient(top, #517fa4, #306088);
  background-image: url("noise-1.png"), -ms-linear-gradient(top, #517fa4, #306088);
  background-image: url("noise-1.png"), linear-gradient(top, #517fa4, #306088);
  background-position: 50% 50%;
  z-index: 100;
}

body {
  padding-top: 40px;
}

.nav-up {
  top: -43px;
}

.nav-pills .current {
  border-radius: 8px;
  background-color: #ffffff;
}
.nav-pills a:hover, .nav-pills .current a:hover {
  color:#ffffff;
}
.nav-pills .current a {
  color: #ffffff;
}
.logo {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  background: url('logo.gif') no-repeat center;
}
.current-date {
  margin:0 auto;
  width:100%;
  text-align:center;
  color: #999999;
  font-weight: normal;
  line-height: 1;
}
hr{
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav a, .nav a:visited {
  color:#ffffff;
}
.nav li a:hover, .nav li a:focus {
  background-color: transparent;
  text-decoration: none;
  outline: 0px;
}
.table-border-bottom > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 0px;
  border-bottom: 1px solid #ddd;
}
.table-border-bottom {
}
.table-show {
  margin-top: -18px;
}
.setup-table tr {
  border-bottom: 1px solid #ddd;
}
.left-border {
  border-left: 1px solid #ddd;
}
.align-top {
  vertical-align: top;
}
.header-wrapper {
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, h1 a, h2 a, h3 a {
  color: #06365f;
}
a, a:visited {
  color: #3f729b;
}
a, a:visited {
  text-decoration: none;
}
a {
  -webkit-tap-highlight-color: rgba(63, 114, 155, 0.3);
}
.page-footer {
  clear: both;
  overflow: hidden;
  padding: 8px 0 7px;
  border-top: 1px solid #dddddd;
  background: #fff;
  text-align: center;
}
.page-footer {
  position: relative;
  margin-top: -48px;
  z-index: 20;
}
.page-footer {
  font-size: 12px;
  line-height: 16px;
}
.page-footer nav, .page-footer .copyright, .page-footer li {
  display: inline-block;
}
.page-footer nav, .page-footer nav ul, .page-footer .copyright {
  margin: 0;
  padding: 0;
}
.page-footer nav, .page-footer p {
  text-transform: uppercase;
}
.page-footer a {
  display: block;
  padding: 8px 6px;
}
.page-footer a:hover, .page-footer a:visited, .page-footer a:focus {
  background-color: transparent;
  color: #3f729b;
}
.paging {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.table i {
  font-size: 14px;
}
