<footer class="page-footer" role="contentinfo">
  <div class="wrapper">

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pages/about">How it works</a></li>
        <li><a href="<%= items_path%>">Financial Instruments</a></li>
      </ul>
    </nav>

    <p class="copyright">© 2016 Stock2.Watch</p>
  </div>
</footer>