<table class="table header-table">
<tr>
  <td>
    <div class="header-wrapper">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="<%= root_path %>">FinanceAssistant</a></li>
        <li role="presentation"><a href="<%= root_path %>">Home</a></li>
        <li role="presentation"><a href="/pages/about">About</a></li>
        <li role="presentation"><a href="<%= items_path %>">Financial Instruments</a></li>
        <li role="presentation" class="disabled"><a href="#">Money Management</a></li>
      </ul>
    </div>
  </td>
  <!--
  <td style="width: 30%">
    <div class="input-group" >
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
  </td>
  -->
</tr>
</table>
